@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Instructor;

<h1>Are you sure you want to delete this instructor?</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" disabled/>    
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="IsTenured">Status</label>
          <select asp-for="IsTenured" class="form-control" disabled>
                @foreach (var IsTenured in Enum.GetValues(typeof(IsTenured)))
                {
                    <option value="@IsTenured">@IsTenured</option>
                }
          </select>
    </div>
    <div class="form-group">
         <label for="Rank">Rank</label>
          <select asp-for="Rank" class="form-control" disabled>
                @foreach (var rank in Enum.GetValues(typeof(Rank)))
                {
                    <option value="@rank">@rank</option>
                }
          </select>
    </div>
    <div class="form-group">
        <label asp-for="HiringDate">Hiring Date</label>
          <input asp-for="HiringDate" class="form-control" disabled>
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" onClick="history.back()" class="btn btn-secondary">Cancel</button>
</form>