
@model Student;

<h1>Are you sure you want to delete this student?</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label for="IsTenured">Course</label>
        <select asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))" class="form-control" disabled></select>
    </div>

    <div class="form-group">
        <label asp-for="DateEnrolled">Date Enrolled</label>
        <input asp-for="DateEnrolled" class="form-control" disabled>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" onClick="history.back()" class="btn btn-secondary">Cancel</button>

</form>