
@model Student;

<h1>Edit Student</h1>

<form asp-action="Edit" method="post">
    <div class="form-group" style="display: none;">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="IsTenured">Course</label>
        <select asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="DateEnrolled">Date Enrolled</label>
        <input asp-for="DateEnrolled" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" onClick="history.back()" class="btn btn-secondary">Cancel</button>
</form>